@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leaflet-container {
  height: 400px;
  width: 100%;
}

.map-container {
  height: 500px;
  width: 100%;
}

.notification-high {
  @apply bg-red-100 border-red-500 text-red-700;
}

.notification-medium {
  @apply bg-yellow-100 border-yellow-500 text-yellow-700;
}

.notification-low {
  @apply bg-blue-100 border-blue-500 text-blue-700;
}
